@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="~/Views/Shared/_Header.cshtml"></partial>

<h1 class="place-self-center m-8 font-bold text-4xl">Запоминание слов</h1>
<h1 id="t" class="place-self-center text-center w-1/2 text-gray-400">Нажатие кнопки запустит тест, после этого вам будет отведено 2 минуты на запоминание слов после чего вам надо будет выбрать из списка слова которые вы запомнили (каждое неправильно выбранное слово будет отнимать 1 балл)</h1>
<div class="place-self-center content-center h-auto">
    <button id="but" class="place-self-center w-48 h-24 mt-16  bg-blue-500 rounded-lg text-3xl font-bold transition duration-300 delay-50 ease-in-out hover:bg-blue-600">Старт!</button>

</div>
<div id="words-grid-1" class="bg-gray-700 gap-3 mt-6  grid grid-cols-6 grid-rows-4 content-center place-self-center rounded-lg hidden">
</div>
<div id="words-grid-2" class="bg-gray-700 gap-3 mt-6  grid grid-cols-6 grid-rows-4 content-center place-self-center rounded-lg hidden"></div>
<div class="place-self-center content-center h-auto">
    <button id="but_send" class="place-self-center w-48 h-24 mt-16  bg-blue-500 rounded-lg text-3xl font-bold transition duration-300 delay-50 ease-in-out hover:bg-blue-600">Отправить!</button>

</div>
<div id="timer" class="place-self-center w-32 h-32 bg-gray-600 rounded-lg text-4xl text-center content-center m-8 hidden">
    <h1 id="timerr" class="text-6xl">60</h1>
</div>
<div id="result-desk" class="place-self-center w-96 h-70 bg-gray-800 mt-10 text-center p-6 rounded-3xl hidden">
    <p class="text-3xl font-semibold">Ваш результат:</p>
    <p id="res-score" class="text-6xl font-semibold my-7">12 из 12</p>

    <a asp-action="Main" asp-controller="Tests" class=" rounded-lg bg-blue-500 text-2xl font-bold p-2">На главную</a>
    <p class="font-light text-sm mt-5 text-gray-400">*все результаты можно посмотреть в профиле</p>
</div>


<script asp-src-include="AJAX_words.js"></script>